#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img { 
  width: 200px;
  height: 200px;
}

li {
  display: block;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}